{% extends 'layout.html' %}
{% block content %}
<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
            Edit {{country.name}} </h3>
        <span class="kt-subheader__separator kt-hidden"></span>

    </div>

</div>

<!-- end:: Subheader -->

<!-- begin:: Content -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-md-12">

            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            {{country.name}}
                        </h3>
                    </div>
                </div>

                <!--begin::Form-->
                <form class="kt-form kt-form--label-right" method="post" action="{{url_for('client.edit_country', id=country.id)}}" name="CountryEdit" onsubmit="return validateForm()" >
                    {{csrf_token}}
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <label for="example-text-input" class="col-2 col-form-label">Name</label>
                            <div class="col-10">
                                <input class="form-control" name="name" type="text" value="{{country.name}}" id="example-text-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-search-input" class="col-2 col-form-label">Code</label>
                            <div class="col-10">
                                <input class="form-control" name="code" type="search" value="{{country.code}}" id="example-search-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleSelect1" class="col-2 col-form-label">Status</label>
                            <div class="col-10">
                                <select class="form-control" id="exampleSelect1" name="status">
                                        <option value="active" {% if country.status =='active' %} selected {% endif %}>Active</option>
                                        <option value="inactive" {% if country.status =='inactive' %} selected {% endif %}>Inactive</option>
                                </select>
                            </div>
                        </div>


                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-2">
                                </div>
                                <div class="col-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <button type="reset" class="btn btn-secondary">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--end::Portlet-->
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script>
    function validateForm() {
        var name = document.forms["CountryEdit"]["name"].value;
        var code = document.forms["CountryEdit"]["code"].value;
        if (name == ''){
            $('input[name="name"]').addClass('is-invalid')
        }
        else{
            $('input[name="name"]').removeClass('is-invalid')
        }

        if(code == ''){
            $('input[name="code"]').addClass('is-invalid')
        }
        else{
            $('input[name="code"]').removeClass('is-invalid')
        }

        if(code == '' || name == ''){
            return false;
        }
        else{
            return true;
        }
    }
</script>

{% endblock %}